<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">

    <style>

    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% comment %} <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
      </li> {% endcomment %}
      <li class="nav-item">
        <a class="nav-link">CreatePoll</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">MyPoll</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Register</a>
      </li>

    </ul>
  </div>
</nav>
    <br>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    <footer class="footer">
    </footer>
</body>
</html>