{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid border  rounded-lg shadow p-3 mb-5 bg-white rounded" data-aos="fade-up">
        <h1 class="text-center text-info">ระบบสมาชิก | Member System</h1>     
        <hr>
        <form method="POST" action="">
        {% csrf_token %}
            <div class="form-group">
            <p class="alert alert-info h5 "><strong>Notice !!</strong><br>- รหัสผ่านต้องห้ามเหมือนหรือใกล้เคียงกับ Username<br>- รหัสผ่านต้องมีอย่างร้อย 8 ตัวอักษรหรือมากกว่านั้น<br>- รหัสผ่านต้องห้ามเป็นแบบทั่วไป เช่น 1234 , 1111 , 123456789 , abcd
            <br>- รหัสผ่านต้องประกอบไปด้วยตัวอักษร (a-z , A-Z) ตัวเลข (0-9) เครื่องหมายพิเศษ (!@#$%^&*()_+|~-=\`{}[]:";'<>?,./)</p>
            <br>
            {{ form.as_p}}
            </div>
            <br>
            <div class="text-center">
            {% for message in messages %}
                <div class="alert alert-info">{{message}}</div>
            {% endfor %}             
            <button type="submit" class="btn btn-info btn-lg col-md-3" style="margin-right:10px;">✔️ ส่งข้อมูล</button>
            <button type="reset" class="btn btn-warning btn-lg col-md-3">⚠️ Reset</button>
            </div>
        </form>
        <br/><br/>
    </div>
{% endblock  %}